@page
@model Chat.Pages.AddRoom

@{
}
<header class="fs-5 bg-dark text-light border-bottom sticky-top py-2 px-4 border-danger border-4">
    <span class="d-none d-sm-inline">/</span> New Chat
</header>
<div class="form-group col-md-5 mx-auto">
    <input id="RoomName" type="text" class="form-control" placeholder="Chat Name">
</div>
<div class="form-group col-md-5 mx-auto">
    <input id="SubmitRoomName" type="button" value="Create"/>
</div>
<form method="post">
    <div class="form-group col-md-5 mx-auto">
        <input asp-for="RoomID" type="text" class="form-control" placeholder="RoomCode">
    </div>
    <div class="form-group col-md-5 mx-auto">
        <input type="submit" value="Create"/>
    </div>
</form>