@page
@model Chat.Pages.ChatPage
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Chat";

}

<header class="fs-5 bg-dark text-light border-bottom sticky-top py-2 px-4 border-danger border-4"
        xmlns="http://www.w3.org/1999/html">
    <span class="d-none d-sm-inline">/</span> <span id="header">Chat</span>
</header>


</br>
<div class="container" id="chatroom">
  
</div>
<div class="input-group mb-2 px-sm-3 px-2" style="position: fixed;
                                     bottom: 0; width: 90%">
  <input type="text" id="message" class="form-control" placeholder="" aria-label="Имя пользователя получателя" aria-describedby="button">
  <div class="input-group-append">
    <button class="btn btn-secondary" type="button" id="sendBtn">Send</button>
  </div>
</div>

