@page
@model Chat.Pages.Profile

@{
   
}

<div class="container">
    <div class="row">
        <ul>
            <li>
                <label>User</label>
                
            </li>
        </ul>
    </div>
</div>